<template>
  <div>
    <div v-if="loading">Loading ...</div>
    <div v-else>
      <PostItem
        :commentOption="commentOption"
        v-bind:users="users"
        v-bind:post="post"
        v-bind:key="post.id"
      ></PostItem>
    </div>
  </div>
</template>

<script>
import PostItem from "./PostItem";
export default {
  name: "Post",
  components: { PostItem },
  data() {
    return {
      loading: true,
      post: null,
      users: null,
      commentOption: true,
      error: []
    };
  },
  created: function() {
    let posts = JSON.parse(window.localStorage.getItem("posts"));
    this.post =posts && posts.find(post => post.id === parseInt(this.$router.history.current.params.id));
    this.users = JSON.parse(window.localStorage.getItem("users"));
    this.post ? (this.loading = false) : (this.loading = true);
  }
};
</script>
