<template>
  <div>
    <div v-if="loading">Loading ...</div>
    <div v-else>
      <ul>
        <li v-for="item in posts" v-bind:key="item.id">
          <PostItem v-bind:users="users" v-bind:post="item" v-bind:key="item.id"></PostItem><hr/>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import PostItem from "./PostItem";
import axios from "axios";
export default {
  name: "Posts",
  components: { PostItem },
  data() {
    return {
      loading: true,
      users: null,
      posts: [],
      error: []
    };
  },
  created: function() {
    axios.get("http://jsonplaceholder.typicode.com/posts")
      .then(response => {
        this.posts = response.data;
        window.localStorage.setItem("posts", JSON.stringify(this.posts));
        axios.get("http://jsonplaceholder.typicode.com/users")
          .then(response => {
            this.users = response.data;
            window.localStorage.setItem("users", JSON.stringify(this.users));
            this.loading = false;
          })
          .catch(error => {
            this.error = error;
          });
      })
      .catch(error => {
        this.error = error;
      });
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: decimal;
  text-align: left;
  color: green;
  padding: 0;
  margin: 50px;
}
li {
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
