<template>
  <div>
    <h2 @click="onPostClick(post)">{{ post.title }}</h2>
    <p @click="onPostClick(post)">{{ post.body }}</p>
    <a href="javascript:void(0)" @click="onUserClick(post.userId)">{{ user.name }}</a>
    <div v-if="commentOption">
      <a href="javascript:void(0)" @click="onCommentsClick(post.id)">Load Comments</a>
    </div>
    <div v-if="loadComments && !loading">
      <ul>
        <Comment v-for="item in comments" v-bind:comment="item" v-bind:key="item.id"></Comment>
      </ul>
    </div>
  </div>
</template>

<script>
import Comment from "./Comment";
import axios from "axios";
export default {
  name: "PostItem",
  components: { Comment },
  props: ["post", "users", "commentOption"],
  data() {
    return {
      comments: null,
      loadComments: false,
      loading: true,
      user: null
    };
  },
  created: function() {
    this.user = this.users.find((user) => user.id === this.post.userId);
    this.user ? (this.loading = false) : "";
  },
  methods: {
    onPostClick(post) {
      this.$router.push("/post/" + post.id);
    },
    onUserClick(userId) {
      this.$router.push("/user/" + userId);
    },
    onCommentsClick(postId) {
      this.loadComments = !this.loadComments;
      if (this.loadComments) {
        axios.get("http://jsonplaceholder.typicode.com/comments?postId=" + postId)
          .then(response => {
            this.comments = response.data;
            this.loading = false;
          })
          .catch(error => {
            this.error = error;
          });
      }
    }
  }
};
</script>
