<template>
  <div>
    <div v-if="loading">Loading ...</div>
    <div v-else>
      <h3>{{ user.username }}</h3>
      <h2>{{ user.name }}</h2>
      <h4>{{ user.email }}</h4>
      <p>
        {{ user.address.street }} {{ user.address.suite }}
        <br>
        {{ user.address.city }} - {{ user.address.zipcode }}
      </p>
      <b>{{ user.phone }}</b>
      <br>
      <b>{{ user.website }}</b>
      <br>
      <h4>{{ user.company.name }}</h4>
    </div>
  </div>
</template>

<script>
export default {
  name: "User",
  data() {
    return {
      loading: true,
      user: null,
      error: []
    };
  },
  created: function() {
    let users = JSON.parse(window.localStorage.getItem("users"));
    this.user = users.find((user) => user.id === parseInt(this.$router.history.current.params.id));
    this.user ? (this.loading = false) : (this.loading = true);
  }
};
</script>
